<div class="row min-vh-100 align-items-center background">
  <div class="col-lg-4"></div>

  <div class="col-lg-4">
    <div class="card shadow-lg p-4">
      <div class="card-body">
        <!-- Título do login -->
        <h3 class="text-center mb-4">Login - SAM</h3>

        <!-- Formulário -->
        <form class="form">
          
          <!-- Tipo de usuário -->
          <mdb-form-control class="mb-4">
            <select mdbInput id="tipoUsuario" name="tipoUsuario" class="form-control" [(ngModel)]="login.role">
              <option value="" disabled selected></option>
              <option value="MENTOR">Mentor</option>
              <option value="COORDENADOR">Coordenador</option>
              <option value="PROFESSOR">Professor</option>
              <option value="ALUNO">Aluno</option>
            </select>
            <label mdbLabel class="form-label" for="tipoUsuario">Tipo de Usuário</label>
          </mdb-form-control>

          <!-- Email input -->
          <mdb-form-control class="mb-4">
            <input mdbInput type="email" id="email" name="email" class="form-control" [(ngModel)]="login.email"/>
            <label mdbLabel class="form-label" for="email">Email</label>
          </mdb-form-control>

          <!-- Password input -->
          <mdb-form-control class="mb-4">
            <input mdbInput type="password" id="senha" name="senha" class="form-control" [(ngModel)]="login.senha"/>
            <label mdbLabel class="form-label" for="senha">Senha</label>
          </mdb-form-control>

          <!-- Botão de login -->
          <button mdbRipple (click)="logar()" type="button" class="btn-logar w-100">
            <b>Acessar</b>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-4"></div>
</div>
