h3{
    color: #00995E;
}

.btn-logar{
    background-color:#1ce897;
    width: 445px;
    height: 33px;
    border-radius: 5px;
    border: none;

}
.btn-logar:hover{
    background-color:#17d88b;;
    cursor: pointer;
}

.background {
  background-color: #DEDEDE;
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
  min-height: 100vh;            /* altura mínima de 100% da tela */
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}