
/* ------ CONTAINER GERAL ------ */
.background {
  min-height: 100vh;
  background-color: #dedede;
  padding-bottom: 40px;
}

.perfil-card {
   font-family: 'Segoe UI', sans-serif;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  border: 1px solid;
  padding: 32px;
  margin-top: 20px;
}

/* ------ FOTO DO ALUNO ------ */
.photo-container {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #00995E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-placeholder {
  width: 100%;
  height: 100%;
}

.perfil-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-icon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: #ffffffee;
  padding: 6px;
  border-radius: 50%;
  font-size: 0.9rem;
  color: #00995E;
  cursor: pointer;
  transition: 0.2s;
}

.upload-icon:hover {
  transform: scale(1.1);
}


/* ------ CONTEÚDO ACADÊMICO ------ */
.accordion-body-content p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 8px;
}

/* ------ TÍTULOS E TEXTOS ------ */
h4 {
  color: #00995E;
}

.text-muted {
  color: #333 !important;
}

/* ------ ÍCONE DE EDIÇÃO ------ */
.edit-icon {
  cursor: pointer;
  transition: 0.2s;
}

.edit-icon:hover {
  transform: scale(1.12);
  color: #00995E !important;
}

/* ------ BOTÕES ------ */
.botoes {
  display: flex;
  justify-content: flex-end;
}

.btn-editar {
  padding: 10px 22px;
  background-color: #00995E;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  transition: 0.2s;
}

.btn-editar:hover {
  background-color: #007a45;
}

/* ------ ESTADOS DE LOADING ------ */
.spinner-border {
  width: 48px;
  height: 48px;
  border-width: 4px;
}

/* Mensagem quando falha */
.lead {
  color: #333;
}

