<app-sidebar></app-sidebar>

<div class="container-fluid background p-4">

  @if (isLoading) {
    <div class="text-center mt-5">
      <div class="spinner-border text-success"></div>
      <p class="mt-2">Carregando seu perfil...</p>
    </div>

  } @else if (aluno) {

    <div class="row justify-content-center">
      <div class="col-lg-10">

        <!-- CARD PRINCIPAL -->
        <div class="card p-4 shadow-sm border-0 perfil-card">

          <!-- FOTO + NOME -->
          <div class="d-flex align-items-center">

            <!-- Foto -->
            <div class="photo-container me-4">
              <div class="photo-placeholder">
                <img src="/perfil.jpeg" alt="Foto do Aluno" class="perfil-foto" />
              </div>

              <i class="fa-solid fa-camera upload-icon"></i>
              <input type="file" hidden />
            </div>

            <!-- NOME + CURSO -->
            <div>
              <h4 class="fw-bold">{{ aluno.nome }}</h4>

              <div class="d-flex align-items-center mb-1 text-muted">
                @if (aluno.curso) {
                  <p class="mb-0 me-3">{{ aluno.curso.nome }}</p>
                } @else {
                  <p class="mb-0 me-3 fst-italic">Curso não informado</p>
                }
              </div>

            </div> <!-- FIM div nome+curso -->

          </div> <!-- FIM FOTO + NOME -->

          <!-- LINHA -->
          <div class="linha"></div>

          <!-- INFORMAÇÕES ACADÊMICAS -->
          <div class="card-item info-bloco">
          <h5 class="fw-bold titulo-bloco">Informações Acadêmicas</h5>

          <p class="text-muted mb-1">RA: {{ aluno.ra }}</p>
           <p class="text-muted mb-1">Curso: {{ aluno.curso.nome}}</p>
          <p class="text-muted mb-1">E-mail: {{ aluno.email }}</p>
        </div>

          <!-- LINHA -->
          <div class="linha"></div>

          <!-- BOTÕES -->
          <div class="botoes">
            <button class="btn-editar" (click)="editarPerfil()">
              Editar informações
            </button>
          </div>

        </div>
      </div>
    </div>

  } @else {

    <div class="text-center mt-5">
      <p class="lead">Não foi possível carregar seu perfil.</p>
    </div>

  }

</div>
