
/* ------ CONTAINER GERAL ------ */
.background {
  min-height: 100vh;
  background-color: #dedede;
  padding-bottom: 40px;
}

.perfil-card {
   font-family: 'Segoe UI', sans-serif;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  border: 1px solid;
  padding: 32px;
  margin-top: 20px;
  max-width: 900px; 
  margin-left: auto;
  margin-right: auto;
}

/* ------ FOTO DO ALUNO ------ */
.photo-container {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-placeholder {
  width: 100%;
  height: 100%;
}

.perfil-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-icon {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: #ffffffee;
  padding: 6px;
  border-radius: 50%;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
}

.upload-icon:hover {
  background:#00E88F;
  color: #fff;
}

/* ------ INFORMAÇÕES DO ALUNO ------ */
.titulo-bloco{
  color:  #146c43;
  padding-top: 10px;
}

.linha{
  width: 100%;
  border-bottom: solid 2px;
  margin-bottom: 15px;
  border-color: #00995E;
}

.text-muted {
  color: #333 !important;
}

/* ------ BOTÕES ------ */
.botoes {
  display: flex;
  justify-content: flex-end;
}

.btn-editar {
  padding: 10px 22px;
  background-color: #00E88F;
  color: #146c43;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  transition: 0.2s;
}

.btn-editar:hover {
  background-color: #146c43;
  color: #fff;
}

/* ------ ESTADOS DE LOADING ------ */
.spinner-border {
  width: 48px;
  height: 48px;
  border-width: 4px;
}

/* Mensagem quando falha */
.lead {
  color: #333;
}



