
<div class="container mt-4 geral">
  <h2 class="mb-4">{{ projeto.nomeDoProjeto || 'Projeto sem nome' }}</h2>
 

  <div class="info-row">
    <div class="icon-label">
      <span class="icone-area"><i class="fas fa-bullseye"></i></span>
      <strong>Área de Atuação</strong>
    </div>
    <div class="info-content">
      {{ projeto.areaDeAtuacao.nome || projeto.areaDeAtuacao || '—' }}
    </div>
  </div>

  <div class="info-row">
    <div class="icon-label">
      <span class="icone-grupo"><i class="fas fa-users"></i></span>
      <strong>Grupo</strong>
    </div>
    <div class="info-content">
      {{ projeto.grupo?.nome || '—' }}
    </div>
  </div>

  <div class="info-row">
    <div class="icon-label">
      <span class="icone-mentor"><i class="fas fa-chalkboard-teacher"></i></span>
      <strong>Mentor</strong>
    </div>
    <div class="info-content">
      {{ projeto.mentor?.nome || '—' }}
    </div>
  </div>

  <div class="info-row">
    <div class="icon-label">
      <span class="icone-status"><i class="fas fa-thumbtack"></i></span>
      <strong>Status do Projeto</strong>
    </div>
    <div class="info-content">
      {{ projeto.statusProjeto || '—' }}
    </div>
  </div>

  <div class="info-row">
    <div class="icon-label">
      <span class="icone-periodo"><i class="fas fa-calendar-alt"></i></span>
      <strong>Período</strong>
    </div>
    <div class="info-content">
      {{ projeto.periodo || (projeto.dataInicioProjeto | date:'dd/MM/yyyy') + ' - ' + (projeto.dataFinalProjeto | date:'dd/MM/yyyy') }}
    </div>
  </div>

  <hr />

  <div class="descricao mb-4">
    <strong><i class="fas fa-align-left"></i>Descrição</strong>
    <p>{{ projeto.descricao || 'Sem descrição disponível.' }}</p>
  </div>

  <div *ngIf="projeto.professores?.length" class="professores">
    <strong><i class="fas fa-user-tie"></i> Professores</strong>
    <ul>
      <li *ngFor="let prof of projeto.professores">
        <i class="fas fa-user"></i> {{ prof.nome }}
      </li>
    </ul>
  </div>

    <div class="botoes-rodape">
  <button class="btn voltar" (click)="voltar()">
    <i class="fas fa-arrow-left"></i> Voltar
  </button>

  <ng-container>
<button *ngIf="userRole === 'ALUNO_ADMIN' || userRole === 'COORDENADOR'"
        (click)="editarProjeto()">Editar</button>

<button *ngIf="userRole === 'ALUNO_ADMIN' || userRole === 'COORDENADOR'"
        (click)="deletarProjeto()">Arquivar</button>

  </ng-container>
 
</div>