<div class="container">
  <h2>Criar Projeto</h2>
  <form (ngSubmit)="salvar()">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome do Projeto</label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="projeto.nomeDoProjeto" name="nome" required>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea class="form-control" id="descricao" [(ngModel)]="projeto.descricao" name="descricao"></textarea>
    </div>

    <div class="mb-3">
      <label for="periodo" class="form-label">Período</label>
      <input type="text" class="form-control" id="periodo" [(ngModel)]="projeto.periodo" name="periodo">
    </div>

    <div class="mb-3">
      <label for="dataInicio" class="form-label">Data Início</label>
      <input type="date" class="form-control" id="dataInicio" [(ngModel)]="projeto.dataInicioProjeto" name="dataInicio">
    </div>

    <div class="mb-3">
      <label for="dataFim" class="form-label">Data Final</label>
      <input type="date" class="form-control" id="dataFim" [(ngModel)]="projeto.dataFinalProjeto" name="dataFim">
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>
