
.btn-color {
  background-color: rgb(28, 232, 151);
  color: #146c43;
}

.btn-color:hover {
  background-color: #00995E;
  color: white;
}

.swal-container-on-top {
  z-index: 2000 !important; /* maior que o modal */
}

.perfil-card {
  //background-color: #f0f0f0;
  border-radius: 10px;
  border-color: #00995E;
  width: 90%;

  /* Ajusta o alinhamento para a direita */
  margin-left: 145px;
  margin-right: auto;

  padding: 20px;
  position: relative;
  z-index: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  box-sizing: border-box;
}

input.form-control,
select.form-control,
textarea.form-control {
  //background-color: #fff; /* cor do fundo */
  color: #000; /* cor do texto */
  border: 1px solid #ccc; /* borda visível */
}

.background {
  //background-color: #dedede;
  min-height: 100vh;
}

h3 {
    color: #00995E;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.form-label {
    color: #00995E;
}

.mb-3{
  color: #00995E;
}

.linha{
  width: 100%;
  border-bottom: solid 1px;
  margin-bottom: 15px;
}

textarea {
  resize: none; /* impede que o usuário redimensione manualmente */
  overflow-y: hidden; /* evita scroll vertical */
  min-height: 80px; /* define uma altura mínima opcional */
  transition: height 0.2s ease; /* suaviza o crescimento */
}
