<main class="conteudo-central">
  <div class="form-box">
    <section class="row">
      <div class="container-titulo">
        <h4 class="titulo">Grupos arquivados</h4>
        <div class="linha"></div>
      </div>

      <ng-container>
        @for (grupo of grupos; track $index) {
        <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex" id="container">
          <div
            class="card h-100 shadow-sm card-pequeno w-100 **p-3**"
            style="cursor: pointer"
            (click)="visualizarGrupo(grupo)"
          >
            <div class="card-body">
              <div class="container-card-title">
                <h5 class="card-title">{{ grupo.nome }}</h5>
              </div>
              <ul class="list-group list-group-flush mt-3">
                <li
                  *ngFor="let aluno of grupo.alunos"
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <span>
                    {{ aluno.nome }}
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        }
      </ng-container>
    </section>
  </div>
</main>

<ng-template #grupoDetalhes>

  <app-grupos-arquivados-detaisls [grupo]="grupoSelecionado"></app-grupos-arquivados-detaisls>

</ng-template>
