@use "../../../../../styles/variaveis.scss" as *;

.container-grupo {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.card-grupo {
  width: 80%;
  max-width: 1000px;
  background: #fff;
  border-radius: 16px;
  padding: 40px;

}

.titulo {
  text-align: center;
  color: #00995e;
  margin-bottom: 30px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input,
  select {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
  }
}

.campo-pesquisa {
  position: relative;

  .lista-pesquisa {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    padding: 0;
    margin: 4px 0 0 0;
    list-style: none;

    li {
      padding: 8px 12px;
      cursor: pointer;

      &.selecionado {
        background-color: #e8f5e9;
        font-weight: bold;
      }

      &:hover {
        background-color: #e0f7fa;
      }
    }
  }
}

.selecionados-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge-selecionado {
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;

  button {
    margin-left: 6px;
    border: none;
    background: none;
    color: #00995e;
    cursor: pointer;
    font-weight: bold;
  }
}

.botoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 20px;

  .btn-criar,
  .btn-cancelar {
    width: 120px;
    height: 40px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
  }

  .btn-criar {
    background: $btn-acao;
    color: white;
    border: 1px solid #ccc;
  }
  .btn-cancelar {
    background: #dedede;
    border: 1px solid #ccc;
  }

  .btn-criar:hover {
    background-color: #00995e;
  }
}
