@if(reuniaoSelecionada) {
<div class="modal-overlay">
  <div class="modal-card">

    <!-- Cabeçalho -->
    <div class="header-com-botao">
      <h2> {{ reuniaoSelecionada.assunto.length > 30
            ? (reuniaoSelecionada.assunto | slice : 0 : 30) + "..."
            : reuniaoSelecionada.assunto }}</h2>

      @if(reuniaoSelecionada.statusReuniao === 'PENDENTE' && reuniaoSelecionada.solicitadoPor != role) {
      <button class="btn editar btn-sm" (click)="habilitarEdicao()">
        <i class="fas fa-pencil-alt me-1"></i> Editar
      </button>
      }
    </div>

    <!-- Status -->
    <div class="info-row">
      <div class="icon-label">
        <span class="icone-status"><i class="fas fa-thumbtack"></i></span>
        <strong> Status da Reunião</strong>
      </div>
      <div class="info-content">
        <span class="status-badge"
          [ngClass]="{
            'status-pendente': reuniaoSelecionada.statusReuniao === 'PENDENTE',
            'status-ativo': reuniaoSelecionada.statusReuniao === 'ACEITO',
            'status-inativo': reuniaoSelecionada.statusReuniao === 'RECUSADO',
            'status-cancelado': reuniaoSelecionada.statusReuniao === 'CANCELADO'
          }">
          {{ reuniaoSelecionada.statusReuniao }}
        </span>
      </div>
    </div>

     <div class="info-section mt-3">
      <div class="info-content">
        <label><i class="fas fa-comment-alt"></i> <strong> Assunto</strong></label>
        <textarea
          type="text"
          class="form-control"
          style="resize: none"
          [(ngModel)]="reuniaoSelecionada.assunto"
          [readonly]="!editar"
          rows="3"
        ></textarea>
      </div>
    </div>

    @if(reuniaoSelecionada.statusReuniao == 'RECUSADO'){
    <div class="info-section mt-3">
      <div class="info-content">
        <label>Motivo da recusa</label>
        <textarea
          rows="3"
          type="text"
          class="form-control"
          [value]="reuniaoSelecionada.motivoRecusa"
          readonly
          style="resize: none"
        ></textarea>
      </div>
    </div>
    }

    <!-- Data e Hora -->
    <div class="info-row">
      <div class="icon-label">
        <span class="icone-periodo"><i class="fas fa-calendar-alt"></i></span>
        <strong> Data e Hora</strong>
      </div>
      <div class="info-content">
        <input type="date" class="form-control" [(ngModel)]="reuniaoSelecionada.data" [readonly]="!editar"/>
        <input type="time" class="form-control mt-1" [(ngModel)]="reuniaoSelecionada.hora" [readonly]="!editar"/>
      </div>
    </div>

    <!-- Formato -->
    <div class="info-row">
      <div class="icon-label">
        <span class="icone-formato"><i class="fas fa-video"></i></span>
        <strong> Formato</strong>
      </div>
      <div class="info-content">
        <select class="form-control" [(ngModel)]="reuniaoSelecionada.formatoReuniao" [disabled]="!editar">
          @for(formato of ['PRESENCIAL', 'ONLINE']; track $index) {
            <option value="{{ formato }}">{{ formato }}</option>
          }
        </select>
      </div>
    </div>

    <!-- Motivo da recusa -->
    @if(reuniaoSelecionada.statusReuniao === 'RECUSADO') {
    <div class="info-row">
      <div class="icon-label">
        <span class="icone-comentario"><i class="fas fa-comment-alt"></i></span>
        <strong> Motivo da Recusa</strong>
      </div>
      <div class="info-content">
        <textarea class="form-control" rows="3" [value]="reuniaoSelecionada.motivoRecusa" readonly style="resize: none"></textarea>
      </div>
    </div>
    }

    <!-- Projeto relacionado -->
    <div class="info-row">
      <div class="icon-label">
        <span class="icone-projeto"><i class="fas fa-project-diagram"></i></span>
        <strong> Projeto</strong>
      </div>
      <div class="info-content">
        {{ reuniaoSelecionada.projeto.nomeDoProjeto || '—' }}
      </div>
    </div>

    <!-- Botões Rodapé -->
    <div class="botoes-rodape">
      <button class="btn voltar" (click)="voltar()">
        <i class="fas fa-arrow-left"></i> Voltar
      </button>

      @if(editar) {
        <button class="btn salvar" (click)="salvarEdicao()">
          <i class="fas fa-save"></i> Salvar
        </button>
        <button class="btn deletar" (click)="cancelarEdicao()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      }
    </div>

  </div>
</div>
}
