<app-sidebar></app-sidebar>

<div class="container-fluid background p-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card p-4 shadow-sm border-0 perfil-card">
        <div class="d-flex align-items-center">
          
          <div class="photo-container me-4">
            <div class="photo-placeholder"></div>
            <i class="fa-solid fa-camera upload-icon"></i>
            <input style="display: none" />
          </div>

          <div>
            <h4 class="fw-bold">{{ mentor.nome }}</h4>
            <ng-template #semNome>
              <h4 class="fw-bold text-muted fst-italic">
                Nome do mentor não informado
              </h4>
            </ng-template>

            @if(mentor.areaDeAtuacao){
            <p class="text-muted mb-1">{{ mentor.areaDeAtuacao.nome }}</p>
            } @if (!mentor.areaDeAtuacao) {
            <p class="text-muted mb-1 fst-italic">
              Área de atuação não informada
            </p>
            }

            <div class="d-flex align-items-center">
              <h6 class="fw-bold text-success mb-0 me-2">Sobre o Mentor</h6>
              <i
                class="fa-solid fa-pen text-muted edit-icon"
                (click)="editarInfos()"
              ></i>
            </div>

            @if (mentor.resumo) {
            <p class="text-muted mb-0">
              {{ mentor.resumo }}
            </p>
            } @if (!mentor.resumo) {
            <p class="text-muted mb-0 fst-italic">
              Informe seu resumo profissional...
            </p>
            }
          </div>
        </div>

        <div class="linha"></div>

        <div class="collapse-container card-item">
            <input type="checkbox" id="togglePessoais" class="collapse-toggle" hidden>

            <label for="togglePessoais" class="collapse-header">
                <span class="fw-bold">Informações Pessoais</span>
                <i class="fa-solid fa-chevron-down toggle-icon"></i>
            </label>

            <div class="collapse-content infoPessoais">
                <div class="accordion-body-content">
                    <p class="text-muted mb-1">Email: {{ mentor.email }}</p>
                    <p class="text-muted mb-1">Telefone: {{ mentor.telefone }}</p>
                    <p class="text-muted mb-1">
                        Endereço: {{ mentor.endereco.rua }}, {{ mentor.endereco.numero }}
                    </p>
                </div>
            </div>
        </div>

        <div class="collapse-container card-item">
            <input type="checkbox" id="toggleProfissional" class="collapse-toggle" hidden>

            <label for="toggleProfissional" class="collapse-header">
                <span class="fw-bold">Informações Profissionais</span>
                <i class="fa-solid fa-chevron-down toggle-icon"></i>
            </label>

            <div class="collapse-content infoProfissional">
                <div class="accordion-body-content">
                    <p class="text-muted mb-1">
                        Tipo de Vínculo: {{ mentor.tipoDeVinculo }}
                    </p>
                    <p class="text-muted mb-1">
                        Tempo de experiência: {{ mentor.tempoDeExperiencia }}
                    </p>
                </div>
            </div>
        </div>

        <div class="linha"></div> <div class="botoes">
          <button class="btn-editar" (click)="editarInformacoes()">
            Editar informações
          </button>
          <button class="btn-excluir" (click)="excluirConta()">
            Excluir conta
          </button>
        </div>
      </div>
    </div>
  </div>

  </div>