.list-group-item {
  cursor: pointer;

  &:hover {
    background-color: #f8f9fa;
  }
}

.btn-close {
  outline: none;
  border: none;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  min-width: 80px;
}