<app-navbar-telas-internas></app-navbar-telas-internas>
<app-sidebar></app-sidebar>

<div class="card">
  <div class="card-body">
    <div class="titulo">
      <span class="icon">
        <i class="fas fa-users grupo-icon"></i>
      </span>
      <span class="text">Nome do grupo</span>
    </div>

    <div class="container-info">
      <div class="alunos">
        <table class="table">
          <tbody>
            <!-- ADICIONAR UM FOR -->
            <tr>
              <td>50147</td>
              <td>Otto Ramón</td>
              <td></td>
            </tr>
            <tr>
              <td>50215</td>
              <td>Angela Raissa</td>
              <td>
                <span class="badge badge-warning rounded-pill d-inline"
                  >líder</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="projetos">
        <span>
          <i class="fas fa-book-open grupo-icon"></i>
        </span>
        <span class="text">Projetos</span>
        <table class="table">
          <tbody>
            <!-- ADICIONAR UM FOR -->
            <tr>
              <td>50147</td>
              <td>Otto Ramón</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
