<app-navbar-telas-internas></app-navbar-telas-internas>
<app-sidebar></app-sidebar>

<div *ngIf="isLoading" class="loading-message">
  <p>Carregando informações do grupo...</p>
</div>

<div *ngIf="errorMessage && !isLoading" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="grupo && !isLoading" class="card">
  <hr class="divisor" />

  <div class="info-section">
    <i class="fas fa-users"></i>
    <div class="info-content">
      <div class="header-com-botao">
        <h4>{{ grupo.nome }}</h4>
        <button
          *ngIf="isUserAdmin()"
          (click)="abrirModalEdicao()"
          class="edit-button"
        >
          <i class="fas fa-pencil-alt"></i> Editar
        </button>
      </div>
      <div class="avatars">
        <ul>
          <li *ngFor="let aluno of grupo.alunos">
            <span
              *ngIf="aluno.id === grupo.alunoAdmin?.id"
              class="badge badge-primary"
              >Líder</span
            >
            <button
              *ngIf="isUserAdmin() && aluno.id !== loggedInAlunoId"
              (click)="solicitarExclusaoAluno(aluno)"
              class="remove-button"
            >
              Excluir
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="divisor" />

  <ng-container
    *ngIf="grupo.projetos && grupo.projetos.length > 0; else noProject"
  >
    <div class="info-section">
      <i class="fas fa-tag"></i>
      <div class="info-content">
        <h4>Nome do Projeto</h4>
        <p>{{ grupo.projetos[0].nomeDoProjeto || "Não definido" }}</p>
      </div>
    </div>
    <hr class="divisor" />
    <div class="info-section">
      <i class="fas fa-info-circle"></i>
      <div class="info-content">
        <h4>Descrição</h4>
        <p class="descricao">
          {{ grupo.projetos[0].descricao || "Sem descrição." }}
        </p>
      </div>
    </div>
    <hr class="divisor" />
  </ng-container>

  <ng-template #noProject>
    <div class="info-section">
      <i class="fas fa-tag"></i>
      <div class="info-content">
        <p>Nenhum projeto associado a este grupo.</p>
      </div>
    </div>
  </ng-template>
</div>

<div *ngIf="showEditModal" class="modal-backdrop">
  <div class="modal-content">
    <h2>Editar Informações do Grupo</h2>
    <div class="form-group">
      <label for="grupoNome">Nome do Grupo</label>
      <input
        type="text"
        id="grupoNome"
        [(ngModel)]="grupoEditData.nome"
        class="form-control"
      />
    </div>
    <div class="modal-actions">
      <button (click)="salvarAlteracoes()" class="btn btn-primary">
        Salvar
      </button>
      <button (click)="fecharModalEdicao()" class="btn btn-secondary">
        Cancelar
      </button>
    </div>
  </div>
</div>
