.btn-logar{
    background-color:rgb(28, 232, 151);
    width: 445px;
    height: 33px;
    border-radius: 5px;
    border: none;

}
.btn-logar:hover{
    background-color:rgb(0, 103, 64);
    cursor: pointer;
}