.background {
  background: url('/assets/imgs/background-login.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9); /* deixa o card levemente transparente */
}

.btn-logar {
  background-color: #00b894;
  color: #fff;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.75rem;
  transition: 0.3s;
}

.btn-logar:hover {
  background-color: #019170;
}
