
<div class="tabela-card" style="margin-top: 80px; margin-left: 230px">
  <table class="table tabela-card-interna">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Área de Atuação</th>
        <th scope="col">Status</th>
        @if (userRole === 'COORDENADOR') {
          <th scope="col">Ações</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (mentor of mentores; track mentor.id) {
        @if ($index === 0 || mentores[$index - 1].statusMentor !== mentor.statusMentor) {
          <tr class="status-header">
            <td [attr.colspan]="userRole === 'COORDENADOR' ? 7 : 6">
              <h3>
                @if (mentor.statusMentor === 'PENDENTE') {
                  Pendentes
                  <div class="linha"></div>
                } @else if (mentor.statusMentor === 'ATIVO') {
                  Ativos
                  <div class="linha"></div>
                } @else {
                  Inativos
                }
              </h3>
            </td>
          </tr>
        }
        <tr>
          <td>{{ mentor.nome }}</td>
          <td>{{ mentor.email }}</td>
          <td>{{ mentor.telefone }}</td>
          <td>{{ mentor.areaDeAtuacao.nome }}</td>
          <td>
            <span
              class="status-badge 
              {{
                mentor.statusMentor === 'PENDENTE'
                  ? 'status-pendente'
                  : mentor.statusMentor === 'ATIVO'
                  ? 'status-ativo'
                  : mentor.statusMentor === 'INATIVO'
                  ? 'status-inativo'
                  : ''
              }}"
            >
              {{ mentor.statusMentor }}
            </span>
          </td>
          
          @if (userRole === 'COORDENADOR') {
            <td>
              @if (mentor.statusMentor === 'PENDENTE' ) {
                <button class="btn-ativar-mentor" (click)="ativarMentor(mentor.id)">
                  Ativar Mentor
                </button>
                
              } @if(mentor.statusMentor === 'ATIVO') {
                <button class="btn-desativar-mentor" (click)="desativarMentor(mentor.id)">
                  Desativar Mentor
                </button>
              }
              @if (mentor.statusMentor === 'INATIVO'){
                <button class="btn-reativar-mentor" (click)="reativarMentor(mentor.id)">
                  Reativar Mentor
                </button>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
