@use '../../../../styles/variaveis.scss' as *;

/* Card externo */
.tabela-card {
  max-width: 900px;
 margin: 1.2rem auto 2rem auto;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid $linha;
}

/* Tabela interna */
.tabela-card-interna {
  width: 100%;
  border-collapse: collapse;
}

.tabela-card-interna th,
.tabela-card-interna td {
  text-align: left !important;
  padding: 1rem 0;
}

.tabela-card-interna thead th {
  background-color: #fff;
  color: $tabelas-mdb;
  font-weight: 600;
  border-bottom: 2px solid $fundo-elemento;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.tabela-card-interna tbody td {
  background-color: #fff;
  border-bottom: 1px solid $fundo-elemento;
  color: $tabelas-mdb;
}

.tabela-card-interna tbody tr:hover {
  background-color: #f9f9f9;
}

.tabela-card-interna tbody tr:last-child td {
  border-bottom: none;
}

/* Separador de status */
.status-header {
  background-color: $fundo-elemento;

  td {
    padding: 1rem 0;
  }

  h3 {
    color: $titulos-verde;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
}

/* Badge de status */
.status-badge {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  text-transform: uppercase;
}

.status-ativo {
  background-color: $btn-acao;
  color: #fff;
}

.status-inativo {
  background-color: #e9ecef;
  color: #6c757d;
}

.status-pendente {
  background-color: #ffc107;
  color: #fff;
}

/* Botões */
.btn-ativar-mentor,
.btn-desativar-mentor,
.btn-reativar-mentor {
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: none;
}

/* Ativar */
.btn-ativar-mentor {
  background-color: $btn-acao;
  color: #006e44;

  &:hover {
    background-color: $btn-hover;
    color: #fff;
    transform: translateY(-2px);
  }
}

/* Desativar */
.btn-desativar-mentor {
  background-color: #ccc;
  color: #333;

  &:hover {
    background-color: #dc3545;
    color: #fff;
    transform: translateY(-2px);
  }
}

/* Reativar */
.btn-reativar-mentor {
  background-color: #9cd3a2;
  color: #004d2c;

  &:hover {
    background-color: $btn-hover;
    color: #fff;
    transform: translateY(-2px);
  }
}

.linha {
  width: 100%;
  border-bottom: 2px solid #00995e;
  margin-bottom: 1rem;
}

.pagina-fundo {
  background-color: #dedede;   /* cor do fundo */
  min-height: 100vh;           /* cobre toda a altura */
  padding: 3rem 1rem;          /* espaçamento */
}
