<app-navbar></app-navbar>

<div class="cadastro-container">
  <div class="form-box">
    <h2>Cadastro de Mentor</h2>
    <div class="linha"></div>

    <form [formGroup]="cadastroMentorForm" (ngSubmit)="onSubmit()">
      <div class="form-scroll-content">
       
        <!-- ETAPA 1: DADOS PESSOAIS -->
        <div class="form-step">
          <label for="nome">Nome</label>
          <input id="nome" type="text" formControlName="nome" />
          @if(hasError('nome', 'required')){
          <small class="error-message">Nome é obrigatório.</small>
          }

          <label for="cpf">CPF</label>
          <input id="cpf" type="text" formControlName="cpf" />
          @if(hasError('cpf', 'required')){
          <small class="error-message">CPF é obrigatório.</small>
          }

          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" />
          @if(hasError('email', 'required')){
          <small class="error-message">Email é obrigatório.</small>
          } @if(hasError('email', 'email')){
          <small class="error-message">Formato de email inválido.</small>
          }

          <label for="senha">Senha</label>
          <input id="senha" type="password" formControlName="senha" />
          @if(hasError('senha', 'required')){
          
          } @if(hasError('senha', 'minlength')){
          <small class="error-message"
            >A senha deve ter no mínimo 6 caracteres.</small
          >
          }

          <label for="telefone">Telefone</label>
          <input id="telefone" type="text" formControlName="telefone" />
          @if(hasError('telefone', 'required')){
          <small class="error-message">Telefone é obrigatório.</small>
          }
        </div>

        <div class="linha"></div>

        <!-- ETAPA 2: VÍNCULO -->
        <div class="form-step">
          
          <label for="tempoExperiencia">Tempo de Experiência</label>
          <input
            id="tempoExperiencia"
            type="text"
            formControlName="tempoDeExperiencia"
          />

          <label for="tipoVinculo">Tipo de Vínculo</label>
          <select id="tipoVinculo" formControlName="tipoDeVinculo">
            <option value="CLT">CLT</option>
            <option value="PJ">PJ</option>
            <option value="VOLUNTARIO">Voluntário</option>
          </select>
          @if(hasError('tipoDeVinculo', 'required')){
          <small class="error-message">Tipo de vínculo é obrigatório.</small>
          }

          <!--Formação do Mentor-->
          <label for="formacaoDoMentor">Formação do Mentor</label>
            <textarea
              id="formacaoDoMentor"
              formControlName="formacaoDoMentor"
              rows="3"
              placeholder="Descreva sua formação acadêmica"
            ></textarea>
              @if(hasError('formacaoDoMentor', 'required')){
                <small class="error-message">A formação é obrigatória.</small>
          }



          <label for="areaAtuacao">Área de Atuação</label>
          <select id="areaAtuacao" formControlName="areaDeAtuacao">
            <option value="" disabled>Selecione a área de atuação</option>
            <option *ngFor="let area of areasDeAtuacao" [value]="area.id">
              {{ area.nome }}
            </option>
          </select>
          @if(hasError('areaAtuacao', 'required')){
          <small class="error-message">Área de atuação é obrigatória.</small>
          }
        </div>
      </div>

       <div class="linha"></div>

        <!-- ETAPA 3: ENDEREÇO -->
        <div class="form-step">

          <label for="cep">CEP</label>
          <div class="cep-input-group">
            <input
              id="cep"
              type="text"
              formControlName="cep"
              (blur)="buscarCep()"
              maxlength="8"
              placeholder="Apenas números"
            />
            @if(isLoadingCep){
            <span
              class="spinner-border spinner-border-sm ms-2"
              role="status"
            ></span>
            }
          </div>
          @if(hasError('cep', 'required')){
          <small class="error-message">CEP é obrigatório.</small>
          }

          <label for="estado">Estado</label>
          <input
            id="estado"
            type="text"
            formControlName="estado"
            [readonly]="true"
          />
          @if(hasError('estado', 'required')){
          <small class="error-message">Estado é obrigatório.</small>
          }

          <label for="cidade">Cidade</label>
          <input
            id="cidade"
            type="text"
            formControlName="cidade"
            [readonly]="true"
          />
          @if(hasError('cidade', 'required')){
          <small class="error-message">Cidade é obrigatória.</small>
          }

          <label for="bairro">Bairro</label>
          <input
            id="bairro"
            type="text"
            formControlName="bairro"
            [readonly]="isRuaBairroReadonly"
          />
          @if(hasError('bairro', 'required')){
          <small class="error-message">Bairro é obrigatório.</small>
          }

          <label for="rua">Rua</label>
          <input
            id="rua"
            type="text"
            formControlName="rua"
            [readonly]="isRuaBairroReadonly"
          />
          @if(hasError('rua', 'required')){
          <small class="error-message">Rua é obrigatória.</small>
          }

          <label for="numero">Número</label>
          <input id="numero" type="text" formControlName="numero" />
          @if(hasError('numero', 'required')){
          <small class="error-message">Número é obrigatório.</small>
          }
        </div>

        

      <div class="form-buttons-container">
        <div class="buttons-row">
          <button type="button" class="btn-back" (click)="goToLanding()">
            Voltar à Home
          </button>
          <button type="submit">Finalizar Cadastro</button>
        </div>
      </div>
    </form>
  </div>
</div>
