
.cadastro-container {
    display: flex;
    justify-content: center;
    padding: 10px; /* Espaço para scroll */
    margin-top: 50px;
    width: 100%;
}

.form-box {
    padding: 20px;
    max-width: 700px;
    width: 75%;
}

h2 {
    text-align: center;
    color: #00995E;
}

.form-step {
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
}

.form-step:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.buttons-row {
    display: flex;
    gap: 10px;
}

.buttons-row button {
    padding: 6px 15px; /* controla altura e largura */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    width: auto; /* botão fica do tamanho do texto */
}

.buttons-row button:not(.btn-back) {
    background-color: #00E88F;
    color: #006e44;
}

.buttons-row button:not(.btn-back):hover {
    background-color: #00995E;
    color: #fff;
}

.buttons-row button.btn-back {
    background-color: #ccc;
    color: #333;
}

.buttons-row button.btn-back:hover {
  background-color: #999; /* cor de fundo ao passar o mouse */
  color: #fff; /* texto fica branco */
}


.linha{
  width: 100%;
  border-bottom: solid 2px;
  margin-bottom: 15px;
  border-color: #00995E;
}

label{
    color: #00995E;
}

textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}
