<div class="container-fluid background p-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card p-4 shadow-sm border-0 perfil-card">
        <div class="edit-body">
          <h3>Editar Informações</h3>
          <div class="linha"></div>

          <form [formGroup]="CoordenacaoDetaisForm" (ngSubmit)="onSubmit()">

            <!-- DADOS DE ACESSO -->
            <div class="mb-3">
              <label class="form-label" for="nome">Nome</label>
              <input
                type="text"
                id="nome"
                formControlName="nome"
                class="form-control"
              />
              @if(hasError('nome', 'required')){
                <small class="error-message">Nome é obrigatório.</small>
              }
            </div>

            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
              />
              @if(hasError('email', 'required')){
                <small class="error-message">Email é obrigatório.</small>
              }
              @if(hasError('email', 'email')){
                <small class="error-message">Formato de email inválido.</small>
              }
            </div>

            <div class="mb-3">
              <label class="form-label" for="senha">Senha</label>
              <input
                type="password"
                id="senha"
                formControlName="senha"
                class="form-control"
              />
              @if(hasError('senha', 'required')){
                <small class="error-message">Senha é obrigatória.</small>
              }
              @if(hasError('senha', 'minlength')){
                <small class="error-message">A senha deve ter no mínimo 6 caracteres.</small>
              }
            </div>

            <div class="linha"></div>

            <!-- VÍNCULO COM CURSOS -->
           <div class="collapse-container card-item mb-3">
         <input type="checkbox" id="toggleCursos" class="collapse-toggle" hidden>

          <label for="toggleCursos" class="collapse-header">
            <span class="fw-bold text-success">Cursos Vinculados</span>
            <i class="fa-solid fa-chevron-down toggle-icon"></i>
          </label>

          <div class="collapse-content cursos-content">
            <div class="accordion-body-content">
              <div class="curso-lista">
                <div class="form-check" *ngFor="let curso of cursosDisponiveis">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="curso.id ?? 00"
                    [checked]="cursosFormArray.value.includes(curso.id)"
                    (change)="onCheckboxChange($event)"
                    id="curso-{{ curso.id }}"
                  />
                  <label class="form-check-label" for="curso-{{ curso.id }}">
                    {{ curso.nome }}
                  </label>
                </div>
              </div>

              @if (hasError('cursosIds', 'required')) {
                <small class="error-message">Selecione pelo menos um curso.</small>
              }
            </div>
          </div>
        </div>
    
            <!-- BOTÕES -->
            <div class="d-flex justify-content-between mt-4">
              <button type="submit" class="btn btn-color"><b>Salvar</b></button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
