<div class="row g-0 min-vh-100 align-items-center background">
  <div class="col-lg-2"></div>

  <div class="col-lg-8">
    <div class="landing-container">
      <mdb-carousel [controls]="true" [indicators]="false" [interval]="8000" class="carousel-cards">

        <!-- Card 1 -->
        <mdb-carousel-item>
          <div class="card-custom">
            <h3>O que é o SAM?</h3>
            <p>
              O Sistema de Acompanhamento de Mentorias (SAM) facilita o cadastro, acompanhamento e certificação de mentores voluntários nas atividades de extensão.
            </p>
          </div>
        </mdb-carousel-item>

        <!-- Card 2 -->
        <mdb-carousel-item>
          <div class="card-custom">
            <h3>O que é ser mentor?</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              <button class="btn-card"><b>Quero ser mentor</b></button>
            </p>
          </div>
        </mdb-carousel-item>

      </mdb-carousel>
    </div>
  </div>

  <div class="col-lg-2"></div>
</div>
