@use '../../../../styles/variaveis' as *;


h3{
    color: $titulos-verde;
}

.btn-logar{
    background-color: $btn-acao;
    width: 445px;
    height: 33px;
    border-radius: 5px;
    border: none;
    color: $btn-color-verde;

}
.btn-logar:hover{
    background-color: $btn-hover;
    cursor: pointer;
    color: white;
}

.background {
  background-image: url('/backgroundLight.jpg');
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
  min-height: 100vh;            /* altura mínima de 100% da tela */
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.erro{
  display: none;
  background-color: rgba(255, 0, 0, 0.299);
  outline: 0.5px solid rgba(188, 0, 0, 0.437);
  border-radius: 3px;
  padding-left: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
  justify-content: center;
}