h3{
    color: #00995E;
}

.btn-logar{
    background-color:rgb(28, 232, 151);
    width: 445px;
    height: 33px;
    border-radius: 5px;
    border: none;
    color: #005434;;

}
.btn-logar:hover{
    background-color:#00995E;
    cursor: pointer;
    color: white;
}

.background {
  background-image: url('/backgroundLight.jpg');
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
  min-height: 100vh;            /* altura mínima de 100% da tela */
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}