@use "../../../../styles/variaveis" as *;

.btn-color {
  background-color: $btn-acao;
}

.btn-color:hover {
  background-color: $btn-hover;
  color: white;
}

.swal-container-on-top {
  z-index: 2000 !important; /* maior que o modal */
}

.perfil-card {
  background-color: #dedede;
  border-radius: 10px;
  width: 90%;

  /* Ajusta o alinhamento para a direita */
  margin-left: 145px;
  margin-right: auto;

  padding: 20px;
  position: relative;
  z-index: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  box-sizing: border-box;

  /* Espaçamento superior do seu código */
  margin-top: 100px;
}

input.form-control,
select.form-control,
textarea.form-control {
  background-color: #fff; /* cor do fundo */
  color: #000; /* cor do texto */
  border: 1px solid #ccc; /* borda visível */
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border-color: #007bff; /* cor da borda ao focar */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
