<app-navbar-telas-internas></app-navbar-telas-internas>
<app-sidebar></app-sidebar>

<div class="cadastro-container">
  <div class="form-box">
    <form [formGroup]="formProjeto" (ngSubmit)="onSubmit()">
      <div class="form-scroll-content">
        <div class="form-step">
          <h2>{{ modoEdicao ? "Editar Projeto" : "Criar Projeto" }}</h2>

          <label for="nomeDoProjeto">Nome do Projeto</label>
          <input
            id="nomeDoProjeto"
            type="text"
            formControlName="nomeDoProjeto"
          />
          <small
            *ngIf="hasError('nomeDoProjeto', 'required')"
            class="error-message"
          >
            Nome do projeto é obrigatório.
          </small>

          <label for="descricao">Descrição</label>
          <textarea id="descricao" formControlName="descricao"></textarea>
          <small
            *ngIf="hasError('descricao', 'required')"
            class="error-message"
          >
            Descrição é obrigatória.
          </small>

          <label for="periodo">Período</label>
          <select id="periodo" formControlName="periodo">
            <option [ngValue]="null" disabled>Selecione o período</option>
            <option *ngFor="let p of periodosDisponiveis" [value]="p">
              {{ p }}
            </option>
          </select>
          <small *ngIf="hasError('periodo', 'required')" class="error-message">
            Período é obrigatório.
          </small>
        </div>

        <div class="form-step">
          <h3>Datas</h3>

          <label for="dataInicioProjeto">Data de Início</label>
          <input
            id="dataInicioProjeto"
            type="date"
            formControlName="dataInicioProjeto"
          />
          <small
            *ngIf="hasError('dataInicioProjeto', 'required')"
            class="error-message"
          >
            Data de início é obrigatória.
          </small>

          <label for="dataFinalProjeto">Data de Final</label>
          <input
            id="dataFinalProjeto"
            type="date"
            formControlName="dataFinalProjeto"
          />
          <small
            *ngIf="hasError('dataFinalProjeto', 'required')"
            class="error-message"
          >
            Data final é obrigatória.
          </small>
          <small
            *ngIf="
              formProjeto.hasError('dataInvalida') &&
              formProjeto.get('dataFinalProjeto')?.touched
            "
            class="error-message"
          >
            A data final deve ser posterior à data de início.
          </small>
        </div>

        <div class="form-step">
          <h3>Relacionamentos</h3>

          <label for="areaDeAtuacao">Área de Atuação</label>
          <select id="areaDeAtuacao" formControlName="areaDeAtuacao">
            <option [ngValue]="null" disabled>Selecione a área</option>
            <option *ngFor="let area of areasDeAtuacao" [ngValue]="area">
              {{ area.nome }}
            </option>
          </select>
          <small
            *ngIf="hasError('areaDeAtuacao', 'required')"
            class="error-message"
          >
            Área de atuação é obrigatória.
          </small>

          <label for="mentor">Mentor</label>
          <select id="mentor" formControlName="mentor">
            <option [ngValue]="null" disabled>
              {{
                formProjeto.get("areaDeAtuacao")?.value
                  ? "Selecione o mentor"
                  : "Primeiro, selecione uma área"
              }}
            </option>
            <option *ngFor="let mentor of mentores" [ngValue]="mentor">
              {{ mentor.nome }}
            </option>
          </select>
          <small *ngIf="hasError('mentor', 'required')" class="error-message">
            Mentor é obrigatório.
          </small>

          <label for="grupo">Grupo</label>
          <select id="grupo" formControlName="grupo">
            <option [ngValue]="null" disabled>Selecione o grupo</option>
            <option *ngFor="let grupo of grupos" [ngValue]="grupo">
              {{ grupo.nome }}
            </option>
          </select>
          <small *ngIf="hasError('grupo', 'required')" class="error-message">
            Grupo é obrigatório.
          </small>

          <label for="professores">Professores</label>
          <select
            id="professores"
            multiple
            formControlName="professores"
          ></select>
          <small
            *ngIf="hasError('professores', 'required')"
            class="error-message"
          >
            Pelo menos um professor deve ser selecionado.
          </small>
        </div>
      </div>

      <div class="form-buttons-container">
        <div class="buttons-row">
          <button type="button" class="btn-back" (click)="voltar()">
            Voltar
          </button>
          <button type="submit" [disabled]="formProjeto.invalid">
            {{ modoEdicao ? "Atualizar Projeto" : "Salvar Projeto" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
