@use '../../../../styles/variaveis' as *;

.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Mantém o card no topo quando houver scroll */
  min-height: 100vh;
  padding: 20px; 
  margin-top: 60px;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  min-height: 400px;
  max-height: 90vh; 
  overflow-y: auto; 
}

/* Container de rolagem para o conteúdo */
.form-scroll-content {
  flex-grow: 1; 
  overflow-y: auto; 
  padding-right: 15px; 
  margin-bottom: 10px; 
}


.form-scroll-content::-webkit-scrollbar {
  width: 8px;
}

.form-scroll-content::-webkit-scrollbar-track {
  background: $fundo-elemento;
  border-radius: 4px;
}

.form-scroll-content::-webkit-scrollbar-thumb {
  background-color: $titulos-verde;
  border-radius: 4px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: $titulos-verde;
}

h3 {
  color: $titulos-verde;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-step {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

.form-step:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

textarea {
  resize: vertical; 
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.form-buttons-container {
  padding-top: 15px;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttons-row button {
  flex: 1;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.buttons-row button:not(.btn-back) {
  background-color: $btn-acao;
  color: $btn-color-verde;
}

.buttons-row button:not(.btn-back):hover {
  background-color: $btn-hover;
  color: #fff;
}

.buttons-row button.btn-back {
  background-color: $fundo-elemento;
  color: #333;
}

.professores-selecionados-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}
.badge-professor-selecionado {
  background-color: $titulos-verde;
  color: white;
  padding: 5px 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.btn-remover-professor {
  background: transparent;
  border: none;
  margin-left: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
   font-size: 14px;
  line-height: 1;
}
.list-professores {
  max-height: 120px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
   margin-top: 5px;
}
.professores-list-container {
  list-style: none;
  padding: 0;
  margin: 0;
}
.professores-list-container li {
  padding: 3px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
}
.professores-list-container li:hover {
  background-color: #f0f0f0;
}

.professor-selecionado {
  background-color: lighten($titulos-verde, 40%);
}

.btn-selecionar {
  background-color: $btn-acao;      
  color: $btn-color-verde;           
  border: 1px solid $btn-border;   
  border-radius: 6px;              
  padding: 1px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $btn-hover;    
    color: #fff;
  }
}

 
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: white;
  width: 750px;     
  max-width: 90%;  
  padding: 25px;
  border-radius: 10px;

  max-height: 80vh; 
  overflow-y: auto;
}

.modal-box::-webkit-scrollbar {
  width: 6px;
}
.modal-box::-webkit-scrollbar-thumb {
  background: #7ab97a;
  border-radius: 4px;
}
.modal-filtros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}
.modal-input {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #bbb;
  margin: 0;
  box-sizing: border-box;
}

.mentor-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px; 
}

.mentor-item {
  display: flex;
  flex-direction: column; 
  padding: 15px 20px;
  background: $fundo-elemento;
  border: 1px solid $btn-border;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
  word-wrap: break-word;
}


.mentor-item:hover {
  background: lighten($fundo-elemento, 10%);
}

.mentor-item div {
  font-size: 13px;
  white-space: normal;
  overflow-wrap: break-word;
}

.btn-fechar {
  width: auto;
  padding: 6px 14px;
  background: $btn-acao;
  color: $btn-color-verde;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;

  display: inline-block;
  border: 1px solid $btn-border;
}

.btn-fechar:hover {
  background: $btn-hover;
  color: white;
}
.modal-footer-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
