.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url('/backgroundLight.jpg');
  background-size: cover;
  background-position: center;
}

.form-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  width: 400px;

  max-height: 405px;
  min-height: 405px;

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00995E;
  }

  input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
  }

  .row {
    display: flex;
    gap: 10px;

    input, select {
      flex: 1;
    }
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 5px;
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  button[type="submit"] {
    background-color: #00FF91;
    color: #fff;
  }

  .btn-back {
    background-color: #ccc;
    color: #333;
  }

  /* 🔹 NOVO: botões lado a lado */
  .buttons-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
  }

  .buttons-row button {
    flex: 1;
    font-size: 14px;
  }

  .buttons-row button:not(.btn-back) {
    background-color: #00E88F;
    color:  #00613c;
  }

  .buttons-row button:not(.btn-back):hover {
  background-color: #00995E; /* cor ao passar o mouse */
  color: #fff;               /* muda a cor do texto*/
}

  .buttons-row button.btn-back {
    background-color: #ccc;
    color: #333;
  }
}
