<nav class="sidebar">
  <ul class="nav-links">
    <li>
      <div class="menu-item">
        <span class="icon">
          <i class="fas fa-bars"></i>
        </span>
        <span class="text">Menu</span>
      </div>
    </li>
    <li>
      <a href="#" class="nav-link">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span class="text">Início</span>
      </a>
    </li>

    <!--<li class="has-submenu">
      <input type="checkbox" id="profile-toggle" class="submenu-toggle">
      <label for="profile-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-user-circle"></i>
        </span>
        <span class="text">Meu Perfil</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li><a href="#">Alterar Dados</a></li>
      </ul>
    </li>-->

    <!-- REUNIÃO EM STANDBY POR ENQUANTO
    <li class="has-submenu">
      <input type="checkbox" id="meetings-toggle" class="submenu-toggle">
      <label for="meetings-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-calendar-alt"></i>
        </span>
        <span class="text">Reuniões</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li><a href="#">Agendar Reunião</a></li>
        <li><a href="#">Agendadas</a></li>
      </ul>
    </li>
  -->
    <!-- campo de grupos  -->
    <li class="has-submenu">
      <input type="checkbox" id="group-toggle" class="submenu-toggle" />

      <label for="group-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-users"></i>
        </span>
        <span class="text">Grupo</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li>
          <a routerLink="/criar-grupo">Criar Grupo</a>
        </li>
        <li>
          <a routerLink="/grupo-details">Visualizar Grupo</a>
        </li>
      </ul>
    </li>
    @if (userRole == 'COORDENADOR') {
    <li>
      <a href="/tela-inicial/ativar-mentor" class="nav-link">
        <span class="icon"> <i class="fas fa-user-plus"></i> </span>
        <span class="text">Visualizar Mentores</span>
      </a>
    </li>
    }

    <li>
      <a (click)="visualizarProjetos()" class="nav-link">
        <span class="icon"> <i class="fas fa-project-diagram"></i> </span>
        <span class="text">Visualizar Projetos</span>
      </a>
    </li>

    <!--  GRUPOS -->
    @if (userRole == 'ALUNO') {
    <!--<li>
      <a class="nav-link" routerLink="/criar-grupo">
        <span class="icon"><i class="fas fa-users"></i></span>
        <span class="text">Grupo</span>
      </a>
    </li>
  }-->

  
    <li class="has-submenu">
      <input type="checkbox" id="profile-toggle" class="submenu-toggle" />
      <label for="profile-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-user-circle"></i>
        </span>
        <span class="text">Grupo</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li>
          <a routerLink="/criar-grupo">Criar Grupo</a>
        </li>
        <li>
          <a routerLink="/grupo-details">Visualizar Grupo</a>
        </li>
      </ul>
    </li>
    }

    <li>
      <a href="#" class="nav-link">
        <span class="icon">
          <i class="fas fa-sign-out-alt"></i>
        </span>
        <span class="text">Sair</span>
      </a>
    </li>
  </ul>
</nav>
