<nav class="sidebar">
  <div class="logo">SAM</div>
  <ul class="nav-links">
    <li>
      <div class="menu-item">
        <span class="icon">
          <i class="fas fa-bars"></i>
        </span>
        <span class="text">Menu</span>
      </div>
    </li>
    <li>

    <!--<li class="has-submenu">
      <input type="checkbox" id="profile-toggle" class="submenu-toggle">
      <label for="profile-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-user-circle"></i>
        </span>
        <span class="text">Meu Perfil</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li><a href="#">Alterar Dados</a></li>
        <li><a href="#">Minhas Configurações</a></li>
      </ul>
    </li>-->

    <!--Teste-->
    @if(userRole == 'ALUNO'){

    <li class="has-submenu">
      <input type="checkbox" id="projects-toggle" class="submenu-toggle" />
      <label for="projects-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-folder-open"></i>
        </span>
        <span class="text">Projetos</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>

      <ul class="submenu">
        <li>
          <a
            routerLink="/visual-projeto"
            routerLinkActive="active"
            class="nav-link"
          >
            <span class="icon"><i class="fas fa-folder-open"></i></span>
            <span class="text">Meus Projetos</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/criar-projeto"
            routerLinkActive="active"
            class="nav-link"
          >
            <span class="icon"><i class="fas fa-plus-circle"></i></span>
            <span class="text">Criar Novo</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <input type="checkbox" id="mentors-toggle" class="submenu-toggle" />
      <label for="mentors-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-user-tie"></i>
        </span>
        <span class="text">Mentores</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>

      <ul class="submenu">
        <li>
          <a
            routerLink="/aluno/aluno-visualizar-mentor"
            routerLinkActive="active"
            class="nav-link"
          >
            <span class="icon"><i class="fas fa-users"></i></span>
            <span class="text">Portal</span>
          </a>
        </li>
      </ul>
    </li>
    }

    <!-- campo de grupos  -->
    <li class="has-submenu">
      <input type="checkbox" id="profile-toggle" class="submenu-toggle" />
      <label for="profile-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-user-circle"></i>
        </span>
        <span class="text">Meu Perfil</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li>
          <a (click)="userPerfil()">Visualizar perfil</a>
        </li>
        <li>
          <a (click)="atualizarPerfil()">Alterar Dados</a>
        </li>
      </ul>
    </li>
    @if (userRole == 'COORDENADOR' || userRole == 'PROFESSOR') {
    <li>
      <a href="/tela-inicial/listar-mentor" class="nav-link">
        <span class="icon"> <i class="fas fa-user-plus"></i> </span>
        <span class="text">Visualizar Mentores</span>
      </a>
    </li>
    } @if (userRole != 'ALUNO') {
    <li>
      <a (click)="visualizarProjetos()" class="nav-link">
        <span class="icon"> <i class="fas fa-project-diagram"></i> </span>
        <span class="text">Visualizar Projetos</span>
      </a>
    </li>
    }

    <!--  GRUPOS -->
    @if (userRole == 'ALUNO') {
    <li class="has-submenu">
      <input type="checkbox" id="group-toggle" class="submenu-toggle" />

      <label for="group-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-users"></i>
        </span>
        <span class="text">Grupo</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li>
          <a routerLink="/grupo/criar-grupo">Criar Grupo</a>
        </li>
        <li>
          <a routerLink="/grupo/grupo-details">Visualizar Grupo</a>
        </li>
        <li>
          <a routerLink="/grupo/grupos-arquivados">Grupos Arquivados</a>
        </li>
      </ul>
    </li>
  } @if (userRole == 'ALUNO' || userRole == 'MENTOR') {
    <li class="has-submenu">
      <input type="checkbox" id="reuniao-toggle" class="submenu-toggle" />

      <label for="reuniao-toggle" class="nav-link">
        <span class="icon">
          <i class="fas fa-calendar"></i>
        </span>
        <span class="text">Reunião</span>
        <span class="arrow"><i class="fas fa-chevron-down"></i></span>
      </label>
      <ul class="submenu">
        <li>
          <a routerLink="/solicitar-reuniao">Solicitar reunião</a>
        </li>
        <li>
          <a>Visualizar reuniões</a>
        </li>
      </ul>
    </li>
    }

    <li>
      <a href="#" class="nav-link">
        <span class="icon">
          <i class="fas fa-sign-out-alt"></i>
        </span>
        <span class="text">Sair</span>
      </a>
    </li>
  </ul>
</nav>
