@use '../../../../styles/variaveis' as *;

.visual-projeto-detalhes-container {
  padding: 20px;
  margin-top: 70px;
  background: $background-geral;
  min-height: 100vh;
  max-width: 900px; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  .input-group .form-control {
  border-color: $btn-acao;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 232, 151, 0.25);
    border-color: $btn-acao;
  }
}

.input-group-text {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: transparent;
  color: $titulos-verde;
  border: 1px solid $btn-acao;
  border-left: none;
}


  h4 {
    color: $titulos-verde;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .info-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .icon-label {
      width: 140px; 
      font-weight: 600;
      color: $titulos-verde;
      display: flex;
      align-items: center;

      span {
        font-size: 22px;
        margin-right: 8px;
      }
    }

    .info-content {
      flex: 1;
      font-size: 15px;
      word-wrap: break-word; // para textos longos não quebrarem o layout
    }
  }

  hr {
    margin: 30px 0;
    border-color: lighten($fundo-elemento, 20%);
  }

  .descricao {
    strong {
      color: $titulos-verde;
      font-weight: 700;
      display: block;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      color: $tabelas-mdb;
      line-height: 1.5;
      white-space: pre-wrap; // mantém quebras de linha da descrição
    }
  }

  .reunioes {
    margin-top: 25px;

    strong {
      color: $titulos-verde;
      font-weight: 700;
      display: block;
      margin-bottom: 10px;
    }

    ul {
      list-style: disc inside;
      color: $tabelas-mdb;
      padding-left: 0;

      li {
        margin-bottom: 6px;
        font-size: 14px;
        word-wrap: break-word;
      }

      .row {
      display: flex;
      flex-wrap: wrap;
      }

      .card {
        height: 100%;
      }
          }
        }
      }
