<app-navbar-telas-internas></app-navbar-telas-internas>
<app-sidebar></app-sidebar>

<div class="conteudo-central container mt-4">
  <!-- Campo de busca sempre visível -->
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Buscar por nome" [formControl]="filtroNome">
    </div>
  </div>

  <!-- Lista de projetos -->
  <div class="row">
    <ng-container *ngIf="projetos.length > 0; else vazioTemplate">
      <ng-container *ngFor="let projeto of projetos">
        <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex">
          <a [routerLink]="['/projetos', projeto.id]" class="text-decoration-none text-dark w-100">
            <div class="card h-100 shadow-sm">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Imagem do Projeto">
              <div class="card-body">
                <h5 class="card-title">{{ projeto.nomeDoProjeto }}</h5>
                <p class="card-text">{{ projeto.descricao || 'Sem descrição.' }}</p>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </ng-container>

    <!-- Template quando não há projetos -->
    <ng-template #vazioTemplate>
      <div class="col-12 text-center mt-4">
        <a [routerLink]="'/criar-projeto'" class="btn btn-outline-success">
          <span style="font-size: 32px; margin-right: 8px;">+</span>
          Adicionar novo projeto
        </a>
      </div>
    </ng-template>
  </div>
</div>
