@use '../../../../styles/variaveis' as *;



main.conteudo-central {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  padding: 20px; 
  margin-top: 60px;

 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.cadastro-container::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0.4); 

}


.form-box {
 background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;

  min-height: 400px;
  max-height: 90vh; 
  overflow-y: auto; 
}


.input-group .form-control {
  border-color: $btn-acao;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 232, 151, 0.25);
    border-color: $btn-acao;
  }
}

.input-group-text {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: transparent;
  color: $titulos-verde;
  border: 1px solid $btn-acao;
  border-left: none;
}


.card-pequeno {
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 260px;

  .card-img-top {
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-body {
    padding: 0.7rem;

    .card-title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $titulos-verde;
    }

    .card-text {
      font-size: 0.85rem;
      color: #555;
    }
  }
}