 <app-navbar-telas-internas></app-navbar-telas-internas>
<app-sidebar></app-sidebar>


<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Buscar por nome" [formControl]="filtroNome">
    </div>
    <div class="col-md-6">
      <select class="form-control" [formControl]="filtroAtuacao">
        <option value="">Todas as áreas</option>
        <option *ngFor="let area of todasAtuacoes" [value]="area">{{ area }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let projeto of projetos">
      <div class="card h-100 shadow-sm">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Imagem do Projeto">
        <div class="card-body">
          <h5 class="card-title">{{ projeto.nomeDoProjeto }}</h5>
          <p class="card-text">{{ projeto.descricao || 'Sem descrição.' }}</p>
          <p><strong>Área:</strong> {{ projeto.areaDeAtuacao?.nome || projeto.areaDeAtuacao }}</p>
          <p *ngIf="projeto.mentor"><strong>Mentor:</strong> {{ projeto.mentor.nome }}</p>
        </div>
        <div class="card-footer bg-transparent border-top-0">
          <button class="btn btn-success btn-sm float-end" (click)="abrirDetalhes(projeto)">Ver detalhes</button>
        </div>
      </div>
    </div>
  </div>

