<app-navbar-telas-internas></app-navbar-telas-internas>
<app-sidebar></app-sidebar>

<div class="perfil-container">
  <!-- Foto -->
  <div class="foto-container">
    <img *ngIf="fotoUrl; else placeholder" [src]="fotoUrl" class="foto-perfil" />
    <ng-template #placeholder>
      <div class="foto-placeholder">+</div>
    </ng-template>
    <input type="file" (change)="onFotoSelecionada($event)" />
  </div>

  <!-- Dados -->
  <div class="dados-mentor">
    <h2>{{ nome }}</h2>
    <h3>{{ area }}</h3>
    <p>{{ resumo }}</p>
  </div>
</div>

